[options]
admin_passwd = ${ODOO_ADMIN_PASSWORD}
db_host = postgres
db_port = 5432
db_user = ${POSTGRES_USER}
db_password = ${POSTGRES_PASSWORD}
addons_path = /mnt/extra-addons/custom_addons,/usr/lib/python3/dist-packages/odoo/addons,/var/lib/odoo/.local/share/Odoo/addons/18.0
dbfilter = ^${TENANT_SLUG}$
proxy_mode = True
without_demo = all
list_db = False
workers = 2
max_cron_threads = 1
limit_time_real = 120
limit_time_cpu = 60
csv_internal_sep = ,
log_level = info
